<div class="footerNav">
  <h4><a href="https://github.com/johnzxcvbnm/the-cooking-epidemic">Project GitHub</a></h4>
  <h4><a href="https://www.linkedin.com/in/kusching/">LinkedIn</a></h4>
  <h4><a href="https://johnzxcvbnm.github.io/">Other Projects</a></h4>
</div>
