<div class="header">
  <div class="logo">
    <!-- <div class="logoSquare"> -->
      <h1><a href="/recipe/index">The Cooking Epidemic</a></h1>
    <!-- </div> -->
  </div>
  <div class="navBar">
      <h3><a href="#">About Us</a></h3>
      <h3><a href="#">What's for Dinner</a></h3>
      <h3><a href="/recipe/index">Our Cookbook</a></h3>
      <h3><a href="#">Register</a></h3>
      <h3><a href="#">Login</a></h3>
  </div>
</div>
