<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <% include partials/nav.ejs %>
      <div class="mainSection">
        <h2>404 Error</h2>
        <h4>I don't know how you got here, but <a href="/recipe/index">here's</a> a link back to the index.</h4>
      </div>
      <% include partials/footer.ejs %>
    </div>
  </body>
</html>
