author<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <% include partials/nav.ejs %>
      <div class="mainSection">
        <h2>What is The Cooking Epidemic?</h2>
        <p>It's an awesome place, that's what it is.</p>
      </div>
      <% include partials/footer.ejs %>
    </div>
  </body>
</html>
