<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Cooking Epidemic</title>
  </head>
  <body>
    <h1>The Cooking Epidemic</h1>
    <h3>Index</h3>
    <p>Recipe 1</p>
    <p>Recipe 2</p>
    <p>Recipe 3</p>
  </body>
</html>
