<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <% include partials/nav.ejs %>
      <div class="mainSection">
        <h2>The Cookbook</h2>
        <div class="recipeSection">
          <% for(let i = 0; i < recipes.length; i++){ %>
            <div class="recipeCard">
              <div class="imageWrapper">
                <img src="<%= recipes[i].images[0]%>">
              </div>
              <h4><%= recipes[i].name %></h4>
              <p>Rating: <%= recipes[i].avgRating %></p>
              <p>Description: <%= recipes[i].description %></p>
            </div>
          <% } %>
        </div>
      </div>
      <% include partials/footer.ejs %>
    </div>
  </body>
</html>
