<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <title>The Cooking Epidemic</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="logo">
          <!-- <div class="logoSquare"> -->
            <h1>The Cooking Epidemic</h1>
          <!-- </div> -->
        </div>
        <div class="navBar">
          <div class="linksNav">
            <h3><a class="headNav" href="#">About Us</a></h3>
            <h3><a class="headNav" href="#">What's for Dinner</a></h3>
            <h3><a class="headNav" href="#">Our Cookbook</a></h3>
            <!-- <a href="#"></a> -->
          </div>
          <div class="loginNav">
            <h3><a class="headNav" href="#">Register</a></h3>
            <h3><a class="headNav" href="#">Login</a></h3>
          </div>
        </div>
      </div>
      <div class="mainSection">
        <h3>INDEX</h3>
        LIST
        LIST
        LIST
      </div>
      <div class="footerNav">
        <h4><a href="#">Other Projects</a></h4>
        <h4><a href="#">Linked In</a></h4>
        <h4><a href="#">Something Else</a></h4>
      </div>
    </div>
  </body>
</html>
