/************** Header CSS ****************/
.header {
  width: 100%;
  padding: 0px 20px 0 20px;
  box-sizing: border-box;
  background: var(--headerBack);
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5000;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 1px;
}

.navBar {
  width: 70%;
  padding-left: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.navBar h3 {
  margin: 10px 20px;
}

.logo {
  width: 30%;
}

.logo h1 {
  text-align: center;
  margin: 0;
}

.logo a {
  color: var(--headerTitle);
  text-decoration: none;
}

.logo a:hover {
  color: var(--headerLinks);
}

.navBar a, .navBar input {
  color: var(--headerLinks);
  text-decoration: none;
}

.navBar a:hover, .navBar input:hover {
  color: var(--headerTitle);
  text-decoration: underline;
}

.navBar input {
  background: var(--headerBack);
  border: 0;
  font-size: 1.2em;
  padding-top: 9px;
  margin: 0 10px 0 0;
  font-weight: 500;
  /* margin-bottom: 0; */
}

.navBar form {
  margin: 0;
}
