/************* Variables *****************/
:root {
  --pageBack: #EDF5E1;
  --headerBack: #379683;
  --headerSquare: #05386B;
  --headerTitle: #EDF5E1;
  --headerLinks: #05386B;
  --subHeaderBack: #5CDB95;

  --colorOne: #05386B;
  --colorTwo: #379683;
  --colorThree: #5CDB95;
  --colorFour: #8EE4AF;
  --colorFive: #EDF5E1;
  --colorSix: #182628;
}

/************ General CSS ****************/
html {
  /* background: thistle; */
}

div {
  border: 1px transparent gold;
}

body {
  margin: 0;
  background: var(--pageBack);
}

.container {
  /* background: thistle; */
  width: 100%;
  height: 100%;
  margin: 0;
  /* padding: 20px; */
  box-sizing: border-box;
}

/************** Header CSS ****************/
.header {
  width: 100%;
  padding: 0px 20px 0 20px;
  box-sizing: border-box;
  background: var(--headerBack);
  display: flex;
  /* justify-content: space-between; */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5000;
}

.navBar {
  width: 70%;
  /* padding: 15px; */
  padding-left: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.navBar h3 {
  margin: 10px 20px;
  /* margin-top: 25px; */
}


.logo {
  width: 30%;
}

.logo h1 {
  text-align: center;
  margin: 0;
}

.logo a {
  color: var(--headerTitle);
  text-decoration: none;
}

.logo a:hover {
  color: var(--headerLinks);
}

.navBar a {
  color: var(--headerLinks);
  text-decoration: none;
}

.navBar a:hover {
  color: var(--headerTitle);
  text-decoration: underline;
}

/************* Index.ejs *******************/
/************* Main Section CSS ************/

.mainSection {
  margin: 75px auto;
  width: 95%;
  /* margin: auto; */
  /* background: thistle; */
}

.mainSection h2 {
  text-align: center;
}

.headlineSection {
  width: 100%;
}

.headlineSection img {
  width: 500px;
  height: 300px;
  margin: 20px 0;
}

.headlineImage {
  width: 500px;
  margin: auto;
}

.recipeSection {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: space-around;
}

.recipeCard {
  margin: 10px;
  /* border: 1px solid black; */
  /* border-top: 0px solid black; */
  width: 250px;
}

.imageWrapper {
  /* width: fit-content;
  margin: auto; */
  height: 250px;
  /* width: 251px; */
  /* border: 1px solid #379683; */
  border-bottom: 0;
}

.recipeCard img {
  width: 250px;
  height: 250px;
  margin: auto;
}

.cardDesc {
  border: 1px solid #379683;
  padding-left: 5px;
}

.cardDesc a {
  color: black;
}

/*********** Show.ejs ************/
.recName {
  width: 100%;
  background: var(--colorThree);
  text-align: center;
  padding: 3px;
  box-sizing: border-box;
  color: var(--headerSquare)
}

.recName h3 {
  margin: 0;
}

.recipeInfo {
  display: flex;
}

.pictureCar {
  min-width: 450px;
  width: 40%;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}

.pictureCar img {
  width: 300px;
  height: 300px;
  min-width: 300px;
  min-height: 300px;
}

.leftRotate, .rightRotate {
  width: 40px;
  height: 40px;
  margin: 0 30px;
  border: solid var(--headerBack);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
}

.leftRotate {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.rightRotate {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.leftRotate:hover, .rightRotate:hover {
  border: solid var(--headerSquare);
  border-width: 0 4px 4px 0;
  cursor: pointer;
}

.arrowWrapper {
  padding-top: 125px;
}

.recipeDescription {
  width: 60%;
  margin-left: 30px;
}

.catHeader {
  font-weight: 700;
  text-decoration: underline;
  margin-right: 5px;
}

.tagWrapper {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  width: 100px;
  height: 25px;
  padding-top: 7px;
  margin: 5px;
  color: var(--headerSquare)
}

.button {
  background: var(--colorThree);
  border: 1px solid var(--headerSquare);
  border-radius: 4px;
  text-align: center;
}

.actionButton {
  width: 150px;
  height: 50px;
  margin: 5px;
  padding-top: 12px;
  box-sizing: border-box;
}

.buttonList {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.buttonList h3 {
  margin: 0;
}

.buttonList a {
  color: var(--headerSquare);
  text-decoration: none;
}

.buttonList a:hover {
  color: var(--colorThree);
}

.buttonList .button:hover {
  background: var(--headerSquare);
  border: 3px solid var(--colorThree);
  box-sizing: border-box;
}

.comboList {
  display: flex;
}

.ingredientsList {
  width: 20%;
}

.directionsList {
  width: 80%;
}

.ingredientsList ul {
  /* border-right: 2px solid black; */
}

.ingredientsList h3, .directionsList h3, .commentSection h3 {
  margin-left: 40px;
  padding: 3px 5px 3px 5px;
  border-bottom: 2px solid var(--colorThree);
  background: var(--colorThree);
  color: var(--headerSquare);
}

@media(max-width: 800px){
  .recipeInfo {
    display: block;
  }

  .recName {
    margin-top: 20px;
  }
}

/********** Footer CSS **********/

.footerNav {
  margin-top: 20px;
  width: 100%;
  background: var(--headerBack);
  display: flex;
  justify-content: center;
}

.footerNav a {
  margin: 0 20px;
  color: var(--headerLinks);
  text-decoration: none;
}

.footerNav a:hover {
  color: var(--headerTitle);
  text-decoration: underline;
}
