/************* Variables *****************/
:root {
  --pageBack: #EDF5E1;
  --headerBack: #379683;
  --headerSquare: #05386B;
  --headerTitle: #EDF5E1;
  --headerLinks: #05386B;


  --colorOne: #05386B;
  --colorTwo: #379683;
  --colorThree: #5CDB95;
  --colorFour: #8EE4AF;
  --colorFive: #EDF5E1;
  --colorSix: #182628;
}

/************ General CSS ****************/
html {
  /* background: thistle; */
}

div {
  border: 1px transparent gold;
}

body {
  margin: 0;
  background: var(--pageBack);
}

.container {
  /* background: thistle; */
  width: 100%;
  height: 100%;
  margin: 0;
  /* padding: 20px; */
  box-sizing: border-box;
}

/************** Header CSS ****************/
.header {
  width: 100%;
  padding: 0px 20px 0 20px;
  box-sizing: border-box;
  background: var(--headerBack);
  display: flex;
  /* justify-content: space-between; */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5000;
}

.navBar {
  width: 70%;
  /* padding: 15px; */
  padding-left: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.navBar h3 {
  margin: 10px 20px;
  /* margin-top: 25px; */
}


.logo {
  width: 30%;
}

.logo h1 {
  text-align: center;
  margin: 0;
}

.logo a {
  color: var(--headerTitle);
  text-decoration: none;
}

.logo a:hover {
  color: var(--headerLinks);
}

.navBar a {
  color: var(--headerLinks);
  text-decoration: none;
}

.navBar a:hover {
  color: var(--headerTitle);
  text-decoration: underline;
}

/************* Main Section CSS ************/
.mainSection {
  margin: 75px auto;
  width: 95%;
  /* margin: auto; */
  /* background: thistle; */
}

.mainSection h2 {
  text-align: center;
}

.recipeSection {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipeCard {
  margin: 10px;
  border: 1px solid black;
  /* border-top: 0px solid black; */
  width: 250px;
}

.imageWrapper {
  width: fit-content;
  margin: auto;
}

.recipeCard img {
  width: 250px;
  height: 250px;
  margin: auto;
}

/********** Footer CSS **********/

.footerNav {
  margin-top: 20px;
  width: 100%;
  background: var(--headerBack);
  display: flex;
  justify-content: center;
}

.footerNav a {
  margin: 0 20px;
  color: var(--headerLinks);
  text-decoration: none;
}

.footerNav a:hover {
  color: var(--headerTitle);
  text-decoration: underline;
}
