/************* Index.ejs *******************/

.mainSection {
  margin: 75px auto;
  width: 95%;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  /* margin: auto; */
  /* background: thistle; */
}

.mainSection h2 {
  text-align: center;
}

.headlineSection {
  width: 100%;
}

.headlineSection img {
  width: 500px;
  height: 300px;
  margin: 20px 0;
}

.headlineImage {
  width: 500px;
  margin: auto;
}

.recipeSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipeCard {
  margin: 10px;
  width: 250px;
}

.imageWrapper {
  height: 250px;
  border-bottom: 0;
}

.recipeCard img {
  width: 250px;
  height: 250px;
  margin: auto;
}

.cardDesc {
  border: 1px solid #379683;
  padding-left: 5px;
}

.cardHeader {
  color: var(--headerLinks);
  text-decoration: none;
}

.cardHeader:hover {
  color: var(--colorThree);
  text-decoration: underline;
}

/* .cardHeader */
