<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <% include ../partials/nav.ejs %>
      <div class="mainSection">
        <h2>New User</h2>
        <form action="/users" method="POST">
          <div class="createUserWrapper">
            <div class="subWrapper">
              <label for="username">Username:</label>
              <input id="username" type="text" name="username" required />
            </div>
            <div class="subWrapper">
              <label for="password">Password:</label>
              <input id="password" type="password" name="password" required />
            </div>
          </div>
          <input class="editButton button" type="submit" value="Create User">
        </form>
      </div>
      <% include ../partials/footer.ejs %>
    </div>
  </body>
</html>
